.main--frame {
  border: 2px solid white;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  background-color: transparent;
  font-family: Roboto;
}

.rendered--images {
  object-fit: cover;
  height: 300px;
  width: 280px;
  border: 2px solid white;
  border-radius: 10px;
  padding: 0 10px;
}

.user--action--div {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  font-family: Roboto;
}
