.scroll--up {
  display: block;
  position: fixed;
  bottom: 3.6rem;
  right: 3.1rem;
  color: white;
  background-color: transparent;
  z-index: 4000;
  border: none;
  border-radius: 100px;
}

.main--grid {
  display: grid;
  grid-template-columns: repeat(4, fr);
  padding-bottom: 80px;
}

.grid--row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
