.liked--card {
  border: 3px solid #252525;
  padding: 5px;
  border-radius: 10px;
  margin: 10px;
  background-color: #252525;
  height: 530px;
  color: white;
  margin: 20px;
  width: 350px;
}

.liked--card div .liked--images {
  width: 90%;
  margin: auto;
  height: 300px;
  border-radius: 10px;
  margin-left: 4.5%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.info--div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

.description {
  display: flex;
  justify-content: center;
  width: 80%;
  padding-left: 10%;
  text-align: center;
}

.likes--div {
  display: flex;
  font-weight: bold;
  align-items: center;
  width: 20%;
}

.photo--info--div {
  display: flex;
  font-weight: bold;
  font-size: 14px;
  margin: 6px;
  margin-left: 8px;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0px;
  margin-top: 13px;
}

.delete--download {
  display: flex;
  justify-content: space-between;
  width: 94%;
  height: 100px;
  margin-top: 18px;
  margin: auto;
  margin-top: 20px;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.modal {
  position: fixed;
  background: black;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin: auto;
  height: 100px;
}

.modal div textarea {
  border-radius: 10px;
  height: 60px;
  width: 300px;
  margin: auto;
  margin-right: 20px;
}

.modal div {
  display: flex;
  align-items: center;
}
